/* Colors for the Sunlight Foundation */

$blackish: #413e3c;
$darkgrey: #635f5c;
$lightgrey: #6c6967;
$linkyellow: #C9A706;
$linkblue: #78bcbf;
$demblue: #156B90;
$repred: #9A3E25;
$white: #ffffff;
$grey: #666666;
$black: #000000;
$lightorange-btn: rgb(203, 97, 11);
$darkorange-btn: rgb(188, 91, 10);
$neutral-light: #f9f8f8;
$neutral-med: #f0eded;

/* Bootstrap colors */
$brand-primary: $linkblue;