/* Fonts for the Sunlight Foundation */

$font-serif: "Georgia", "Times New Roman", "Times", serif;
$font-sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-adrianna: "adrianna-condensed", "Helvetica", "Arial", sans-serif;
$font-rooney:"rooney-web","Georgia", "Times New Roman", "Times", serif;
$font-frank:"franklin-gothic-urw-cond", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-prenton:"prenton-condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;