/* General */

.fakeTables {
  list-style: none;
  margin-left: 0;
  .col {
    float: left;
  }
  li {
    margin-bottom: 15px;
  }
  &.columns li, .columns.two {
    float: left;
  }
  &.columns.two li, .columns.two {
    width: 50%;
  }
}

/* staff */
.sunlightStaff {
  @extend .fakeTables;
  float: left;
  clear: both;
  width: 100%;

  li {
    float: left;
    width: 215px;
    height: 100px;
    margin: 0 10px 30px;
  }

  .staffTitle, .name {
    float: left;
    font-family: $font-serif;
    font-style: oblique;
    border-left: 1px solid #dac518;
    display: block;
    padding-left: 8px;
    line-height: 18px;
    color: #6d6666;
    width: 106px;
    margin-left: -10px;

    position: relative; // only for z-index.
    z-index: 10;
  }

  .name {
    margin-top: 20px;
  }

  .imgWrapper:hover img {
    top: -100px;
    left: 0;
    -webkit-filter: sepia(0.3);
    -moz-filter: sepia(0.3);
    -ms-filter: sepia(0.3);
    filter: sepia(0.3);
  }

  .staffTitle {
    font-family: $font-serif;
    font-style: oblique;
    padding-top: 3px;
    font-size: 85%;
    color: #8c8383;
    line-height: 15px;
  }

}

/* Circle profile photo */
.imgWrapper {
  background: url("../img/brandeis_blinded_by_the_sunlight.png") center top no-repeat;
  background-size: 100px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  float: left;
  border: 5px solid rgb(252, 251, 250);

  img {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
  }
}

.vips {
  @extend .fakeTables;
  a {
    color: #78bcbf;
    font-size: 120%;
  }
}

.homeFeatures {
  background: url(../img/bg_homeFeatures.png) center bottom no-repeat;
  padding: 0px 25px;
  margin: -9px 0 40px 0;

  background: url(../img/bg_homeFeatures.png) center bottom no-repeat, -moz-linear-gradient(left,  rgba(255,255,255,1) 55%, rgba(255,255,255,1) 73%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: url(../img/bg_homeFeatures.png) center bottom no-repeat, -webkit-gradient(linear, left top, right top, color-stop(55%,rgba(255,255,255,1)), color-stop(73%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: url(../img/bg_homeFeatures.png) center bottom no-repeat, -webkit-linear-gradient(left,  rgba(255,255,255,1) 55%,rgba(255,255,255,1) 73%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: url(../img/bg_homeFeatures.png) center bottom no-repeat, -o-linear-gradient(left,  rgba(255,255,255,1) 55%,rgba(255,255,255,1) 73%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: url(../img/bg_homeFeatures.png) center bottom no-repeat, -ms-linear-gradient(left,  rgba(255,255,255,1) 55%,rgba(255,255,255,1) 73%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: url(../img/bg_homeFeatures.png) center bottom no-repeat, linear-gradient(to right,  rgba(255,255,255,1) 55%,rgba(255,255,255,1) 73%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.main-tagline {
  font-family: $font-adrianna;
  font-weight: 300;
  text-transform: none;
  color: $blackish;
  text-align: center;
  max-width: none;
  font-size: 39px;

  &:after{
    content: " .";
    color: $linkyellow;
    font-weight: 400;
  }
}

.divider-title {
  height: 82px;
  width: 100%;
  color: #24201f;
  font-family: $font-rooney;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;

  margin-left: -7px;
  margin-bottom: 20px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 48%, rgba(244,242,241,1) 48%, rgba(244,242,241,1) 52%, rgba(255,255,255,1) 52%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,rgba(255,255,255,1)), color-stop(48%,rgba(244,242,241,1)), color-stop(52%,rgba(244,242,241,1)), color-stop(52%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 48%,rgba(244,242,241,1) 48%,rgba(244,242,241,1) 52%,rgba(255,255,255,1) 52%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 48%,rgba(244,242,241,1) 48%,rgba(244,242,241,1) 52%,rgba(255,255,255,1) 52%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 48%,rgba(244,242,241,1) 48%,rgba(244,242,241,1) 52%,rgba(255,255,255,1) 52%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 48%,rgba(244,242,241,1) 48%,rgba(244,242,241,1) 52%,rgba(255,255,255,1) 52%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  * {
    background: #ffffff;
    padding: 0 10px;
  }
  img {
    padding: 0;
    vertical-align: middle
  }

}

